body{
    background-image: linear-gradient(to left,#012340,#025939,#027333);
    height: 100%;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px #04D939;

}
p{
    color: white;
    text-align: justify;
    
}